@import "/src/variables.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;

  &__link {
    padding: 8px 16px;
    border: 1px solid $red;
    border-radius: 8px;
    background-color: scale-color($red, $lightness: 80%);
    color: $red;

    &:hover {
      background-color: scale-color($red, $lightness: 70%);
    }
  }
}