@import "/src/variables.scss";

.title {
  margin-bottom: 0;
}

.cartItemCount {
  display: block;
  margin-bottom: 48px;
  color: $gray;
}

.cartItems {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid $gray;
}