@import "/src/variables.scss";

.header {
  display: flex;
  padding: 12px 0;
  top: 0;
  position: sticky;
  background-color: $black;

  &__logo {
    //
  }

  &__nav {
    display: flex;
    column-gap: 8px;

    &__link {
      color: $white;
      font-size: .9rem;
      letter-spacing: .5px;

      &:hover {
        color: $gray;
      }

      &__active {
        font-weight: 900;
      }
    }
  }
}