@import "/src/variables.scss";

.header {
  display: flex;
  padding: 12px 0;
  top: 0;
  position: sticky;
  background-color: $black;

  &__logo {
    //
  }

  &__nav {
    display: flex;
    column-gap: 8px;

    &__link {
      color: $gray;

      &__active {
        color: $white;
        font-weight: 900;
      }
    }
  }
}